In [145]:
import pandas as pd
import numpy as np

#### Q1. Pandas version
What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

In [146]:
pd.__version__

'2.2.2'

### Getting the data
For this homework, we'll use the Laptops Price dataset. Download it from here.

You can do it with wget:

```
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [147]:
laptops_df = pd.read_csv("./laptops.csv")

#### Q2. Records count
How many records are in the dataset?

Get the number of non-null values for each columns

In [148]:
laptops_df.count()

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

Get the max number of non-null values. It should be the number of rows.

In [149]:
record_counts = max(laptops_df.count())
record_counts

2160

#### Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [150]:
brand_counts = len(laptops_df['Brand'].value_counts())
brand_counts

27

Or this. It should give the same result.

In [151]:
brand_counts_2 = len(laptops_df['Brand'].unique())
brand_counts_2

27

#### Q4. Missing values
How many columns in the dataset have missing values?

In [152]:
def count_empty_columns(df):
    return df.isnull().any(axis=0).sum()

Let's examine this code function by function.

In [153]:
laptops_df.isnull()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,False,False,False,False,False,False,False,False,False,False,False,False
2156,False,False,False,False,False,False,False,False,False,False,False,False
2157,False,False,False,False,False,False,False,False,False,False,False,False
2158,False,False,False,False,False,False,False,False,True,False,False,False
2159,False,False,False,False,False,False,False,False,True,False,False,False

We can see that it checks each value in the table if it is `null`, and returns a boolean value (`True/False`) about whether it is `null` or not.

In [154]:
laptops_df.isnull().any(axis=0)

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

Now we see that the `True/False` table above gets grouped by column (Laptop, Status, Brand, etc.). How about `axis=1`?

In [155]:
laptops_df.isnull().any(axis=1)

0        True
1        True
2        True
3       False
4        True
        ...
2155    False
2156    False
2157    False
2158     True
2159     True
Length: 2160, dtype: bool

We can see that it got grouped by row instead.

And finally the `sum()` function.

In [156]:
laptops_df.isnull().any(axis=0).sum()

3

You might not understand what it is yet, but we can at least see that from an array with 12 `True/False` from `laptops_df.isnull().any(axis=0)` it returns a 3. Let's try another 'group' function to see how it would work differently from this.

In [157]:
laptops_df.isnull().any(axis=0).count()

12

So now we can see that `count()` counts both `True` and `False` as 1, while `sum()` counts only `True` values. This also collides with the knowledge that `True` is represented as a 1 while `False` a 0. `sum()` treats `True/False` values as numeric values (similarly to `+`,`-`,`*`, etc.) so here we can see that `sum()` calculates the sum of a list of `0` and `1` and returns number of `True` values.

In [158]:
empty_column_counts = count_empty_columns(laptops_df)
empty_column_counts

3

#### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [42]:
dell_df = laptops_df[laptops_df['Brand'] == 'Dell']
dell_df['Brand'].value_counts()

Brand
Dell    84
Name: count, dtype: int64

In [45]:
dell_max_price = max(dell_df['Final Price'])
dell_max_price

3936.0

#### Q6. Median value of Screen
1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.

Has it changed?

In [159]:
laptops_df['Screen'].median()

15.6

In [160]:
screen_mode_val = laptops_df['Screen'].mode()
screen_mode_val

0    15.6
Name: Screen, dtype: float64

Number of columns with null values initially

In [162]:
count_empty_columns(laptops_df)

3

In [163]:
laptops_df['Screen'] = laptops_df['Screen'].fillna(laptops_df['Screen'].mode()[0])
count_empty_columns(laptops_df)

2

The number of columns with `null` values has reduce 1.

In [164]:
laptops_df['Screen'].median()

15.6

#### Q7. Sum of weights
1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [112]:
innjoo_df = laptops_df[laptops_df['Brand'] == 'Innjoo']
innjoo_df['Brand'].value_counts()

Brand
Innjoo    6
Name: count, dtype: int64

In [114]:
selected_innjoo_df = innjoo_df[['RAM', 'Storage', 'Screen']]
selected_innjoo_df

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [117]:
x = selected_innjoo_df.values
x

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [132]:
xtx = x.T.dot(x)

In [133]:
xtx_inv = np.linalg.inv(xtx)

In [134]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [135]:
w = xtx_inv.dot(x.T) * y

In [137]:
np.sum(w)

91.29988062995567